.row.mt-2
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %h1.text-center Edit news article

    -# Display the selected Representative and Issue
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %p
            Representative: #{@selected_representative}
        %p
            Issue: #{@selected_issue}
